{
  "env": {
    "commonjs": true,
    "es2022": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "root": true,
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "no-unused-vars": ["error", { "args": "all", "argsIgnorePattern": "^_" }]
  }
}
